<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The West"
	backgroundColor="rgba(4,4,4,1)"

>
  <image imageURL="images/IMG_0251.jpg"
	thumbURL="thumbs/IMG_0251.jpg"
	linkURL="images/IMG_0251.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0251.JPG">
    <title><![CDATA[IMG_0251]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0256.jpg"
	thumbURL="thumbs/IMG_0256.jpg"
	linkURL="images/IMG_0256.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0256.JPG">
    <title><![CDATA[IMG_0256]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0291.jpg"
	thumbURL="thumbs/IMG_0291.jpg"
	linkURL="images/IMG_0291.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0291.JPG">
    <title><![CDATA[IMG_0291]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0318.jpg"
	thumbURL="thumbs/IMG_0318.jpg"
	linkURL="images/IMG_0318.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0318.JPG">
    <title><![CDATA[IMG_0318]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0351.jpg"
	thumbURL="thumbs/IMG_0351.jpg"
	linkURL="images/IMG_0351.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0351.JPG">
    <title><![CDATA[IMG_0351]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0378.jpg"
	thumbURL="thumbs/IMG_0378.jpg"
	linkURL="images/IMG_0378.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0378.JPG">
    <title><![CDATA[IMG_0378]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0393.jpg"
	thumbURL="thumbs/IMG_0393.jpg"
	linkURL="images/IMG_0393.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0393.JPG">
    <title><![CDATA[IMG_0393]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0060.jpg"
	thumbURL="thumbs/IMG_0060.jpg"
	linkURL="images/IMG_0060.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0060.JPG">
    <title><![CDATA[IMG_0060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0108.jpg"
	thumbURL="thumbs/IMG_0108.jpg"
	linkURL="images/IMG_0108.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0108.JPG">
    <title><![CDATA[IMG_0108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0212.jpg"
	thumbURL="thumbs/IMG_0212.jpg"
	linkURL="images/IMG_0212.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0212.JPG">
    <title><![CDATA[IMG_0212]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0243.jpg"
	thumbURL="thumbs/IMG_0243.jpg"
	linkURL="images/IMG_0243.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\IMG_0243.JPG">
    <title><![CDATA[IMG_0243]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3943.jpg"
	thumbURL="thumbs/IMG_3943.jpg"
	linkURL="images/IMG_3943.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3943.JPG">
    <title><![CDATA[IMG_3943]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3957.jpg"
	thumbURL="thumbs/IMG_3957.jpg"
	linkURL="images/IMG_3957.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3957.JPG">
    <title><![CDATA[IMG_3957]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3961.jpg"
	thumbURL="thumbs/IMG_3961.jpg"
	linkURL="images/IMG_3961.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3961.JPG">
    <title><![CDATA[IMG_3961]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3962.jpg"
	thumbURL="thumbs/IMG_3962.jpg"
	linkURL="images/IMG_3962.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3962.JPG">
    <title><![CDATA[IMG_3962]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3963.jpg"
	thumbURL="thumbs/IMG_3963.jpg"
	linkURL="images/IMG_3963.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3963.JPG">
    <title><![CDATA[IMG_3963]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3969.jpg"
	thumbURL="thumbs/IMG_3969.jpg"
	linkURL="images/IMG_3969.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3969.JPG">
    <title><![CDATA[IMG_3969]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3974.jpg"
	thumbURL="thumbs/IMG_3974.jpg"
	linkURL="images/IMG_3974.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3974.JPG">
    <title><![CDATA[IMG_3974]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3976.jpg"
	thumbURL="thumbs/IMG_3976.jpg"
	linkURL="images/IMG_3976.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3976.JPG">
    <title><![CDATA[IMG_3976]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3977.jpg"
	thumbURL="thumbs/IMG_3977.jpg"
	linkURL="images/IMG_3977.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3977.JPG">
    <title><![CDATA[IMG_3977]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3978.jpg"
	thumbURL="thumbs/IMG_3978.jpg"
	linkURL="images/IMG_3978.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3978.JPG">
    <title><![CDATA[IMG_3978]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3979.jpg"
	thumbURL="thumbs/IMG_3979.jpg"
	linkURL="images/IMG_3979.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3979.JPG">
    <title><![CDATA[IMG_3979]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3980.jpg"
	thumbURL="thumbs/IMG_3980.jpg"
	linkURL="images/IMG_3980.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3980.JPG">
    <title><![CDATA[IMG_3980]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3982.jpg"
	thumbURL="thumbs/IMG_3982.jpg"
	linkURL="images/IMG_3982.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3982.JPG">
    <title><![CDATA[IMG_3982]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3994.jpg"
	thumbURL="thumbs/IMG_3994.jpg"
	linkURL="images/IMG_3994.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3994.JPG">
    <title><![CDATA[IMG_3994]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3995.jpg"
	thumbURL="thumbs/IMG_3995.jpg"
	linkURL="images/IMG_3995.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3995.JPG">
    <title><![CDATA[IMG_3995]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3996.jpg"
	thumbURL="thumbs/IMG_3996.jpg"
	linkURL="images/IMG_3996.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3996.JPG">
    <title><![CDATA[IMG_3996]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3997.jpg"
	thumbURL="thumbs/IMG_3997.jpg"
	linkURL="images/IMG_3997.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_3997.JPG">
    <title><![CDATA[IMG_3997]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4957.jpg"
	thumbURL="thumbs/IMG_4957.jpg"
	linkURL="images/IMG_4957.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Peter\Desktop\Website Photos\Final Photos\The West\WY\IMG_4957.JPG">
    <title><![CDATA[IMG_4957]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>