---

layout: homepage
permalink: /

---

<div class="container mx-auto">
    <h1 class="text-2xl pt-4 pb-4 font-bold"></h1>
    <section class="text-neutral-700">
        <div class="container w-full">
            <div class="flex flex-wrap w-full">
                {% for image in site.data.images %}
                {% assign mod = forloop.index | modulo: 8 %}
                {% if mod == 1 %}
                <div class="flex w-full md:w-1/2 flex-wrap">
                    <div class="w-full p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery1" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                    {% elsif mod == 2 %}
                    <div class="w-full md:w-1/2 p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery2" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                    {% elsif mod == 3 %}
                    <div class="w-full md:w-1/2 p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery3" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                    {% elsif mod == 4 %}
                    <div class="w-full md:w-1/2 p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery4" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                    {% elsif mod == 5 %}
                    <div class="w-full md:w-1/2 p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery5" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                </div>
                {% elsif mod == 6 %}
                <div class="flex w-full md:w-1/2 flex-wrap">
                    <div class="w-full md:w-1/2 p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery6" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                    {% elsif mod == 7 %}
                    <div class="w-full md:w-1/2 p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery7" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="w-full p-1">
                        <div class="overflow-hidden h-full w-full">
                            <a href="photography/{{ image.name }}.png" data-fancybox="gallery7" data-caption="{{ image.location }}">
                                <img alt="{{ image.location }}"
                                     class="block h-full w-full object-cover object-center opacity-0 animate-fade-in transition duration-500 transform scale-100 hover:scale-110"
                                     loading="lazy"
                                     src="photography/{{ image.name }}.png" />
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>