<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tweet Portfolio">
    <meta name="author" content="FJPY">
    <link rel="icon" href="favicon/tweetportfolio.ico">
	
    <title>TweetPortfolio</title>

	<link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

   
    <div id="mainContainer">
        <canvas id="mainCanvas" keepalive="true"></canvas>
        <div id="header" class="text-center">
            <h1 class="title">TweetPortfolio</h1>
			<h2 class="title_sub">Start organizing your tweets after a search...</h2>
            <a class="btn btn-xl btn-success btn_index_search" href="#search">Search</a>
        </div>
    </div>
    
	<!-- Menu bar -->
	<div class="col-sm-3 favorite_btn">
          <a href="./mainpage.html"><button class="btn btn-outline-success my-2 my-sm-2 search_btn" type="button" id="sidebarCollapse" style="margin-right:10px;">
          <i class="glyphicon  glyphicon glyphicon-retweet glyphicon-align-left"></i>
         
		  <span>  Resume Session</span>
		  </button></a>
		  
          <button class="btn btn-outline-success my-2 my-sm-2 search_btn" type="button" id="sidebarCollapse" data-toggle="modal" data-target="#helpModal">
           <i class="glyphicon glyphicon-question-sign glyphicon-align-left"></i>
          <span>  Help</span>
		  </button>
		  
		

	</div>

	<!-- Trending topics location -->
	<div id="trending" >
		<div id="halftrending">
			<div class="row text-center">
				<div class="col">
					<h5 class="trending">Trending Searches</h5>
				</div>
				<div class="col" style="height: 20vh;" v-for="trend in trends">
				    <a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" style="" v-for="trend in trends2">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" style="" v-for="trend in trends3">
				    <a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
			</div>
		</div>
		<div id="halftrending">
			<div class="row text-center">
				<div class="col" style="height: 20vh;" v-for="trend in trends4">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" style="" v-for="trend in trends5">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" style="" v-for="trend in trends6">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" style="" v-for="trend in trends7">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
			</div>
		</div>
	</div>
	
	<!--
	 <div id="trending" >
        <div class="container">
			<h3>Suggested Trending Searches</h3>
        </div>
		<div class="row text-center">
			<div class="col" v-for="trend in trends">
				<div class="ninety">
				  <a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				  </div>
			</div>
		</div>
	</div>-->
	
	<!-- help modal -->
	<div class = "queueModals">
		  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content" style="padding:25px;">
		      <div class="modal-header">
		      	<h4 class="modal-title" id="myModalLabel">TweetPortfolio: Index Help</h4>
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        
		      </div>
		      <div class="modal-body" >
		        <p>Welcome to TweetPortfolio! Thank you for using our service!<br><br>
		        
				<strong>New Users:</strong> Just click the search button, enter your query, and press enter! The results will look very similar to your Twitter Feed, and you can add Tweets to your Folders. If you have additional questions, there is more help on the main page.
		        <br /><br/>
				<strong>Returning Users:</strong> You know the drill! If you want to resume your previous session, press the resume session button. If you are interested in an existing trending topic, click on it to search it automatically. Thanks for being a loyal user!
		        </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		    </div>
		  </div>
		</div>
		
	<div id="search">
    <form id="search_form">
        <input type="search" id="search_value" value="" placeholder="Type query then press enter..." />
    </form>			
	</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/paper-full.min.js"></script>
    <script src="js/codebird.js"></script>
    <script src="js/vue.js"></script>
	<script src="js/searchhomepage.js"></script>
    <script src="js/circles.js"></script>
	<script src="js/bootstrap.js"></script>
</body>

</html>
