<header id="header">
	<!-- Logo -->
		<div class="logo">
			<a href="/photography/" class="title"><span class="extra">Peter Richards</span> <strong>Photography</strong> </a>
		</div>

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>
					<a href="/photography/" class="dropdown">Places</a>
					<ul>
						<li><a href="/photography/china/">China</a></li>
						<li><a href="/photography/california/">California</a></li>
						<li><a href="/photography/dc/">D.C.</a></li>
						<li><a href="/photography/london/">London</a></li>											
						<li><a href="/photography/nasa/">NASA</a></li>
						<li><a href="/photography/thewest/">The West</a></li>
						<li><a href="/photography/newyork/">New York</a></li>
						<li><a href="/photography/seattle/">Seattle</a></li>
					</ul>
				</li>									
				<li><a href="/photography/">Photography Home</a></li>
				<li><a href="/">Site Home</a></li>
			</ul>
		</nav>
</header>
