html, body, main {
    width: 100%;
    height: 100%;
    font-family: 'Lato', cursive;
}

body {
    overflow: hidden;
    background-color: #004466;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

p.text {
    font-size: 28px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.background {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    overflow: hidden;
    cursor: grab;
}

section.background.mousedown {
    cursor: grabbing;
}

div.gray {
    background-color: #808080;
    color: #FFFFFF;
}

div.white {
    background-color: #FFFFFF;
    color: #808080;
}

div.box {
    margin-top: 2rem;
    margin-left: 2rem;
    position: absolute;
    width: 16rem;
    opacity: .8;
    text-align: center;
    pointer-events: none;
}

div.clickable {
    cursor: pointer;
    pointer-events: visible;
}

div.new-image {
    margin-top: 9rem;
}

div.github {
    margin-top: 16rem;
}

div.linkedin {
    margin-top: 23rem;
}

div.clickable:hover {
    background-color: #004466;
    color: #FFFFFF;
}

@media screen and (max-width: 610px) {

    p.text {
        font-size: 24px;
    }

    div.box {
        width: 12em;
    }

    div.new-image {
        margin-top: 8rem;
    }

    div.github {
        margin-top: 14rem;
    }

    div.linkedin {
        margin-top: 20rem;
    }
}
