/* ----------------------------------------------- */
/* Author : Vincent Garreau  - vincentgarreau.com
/* MIT license: http://opensource.org/licenses/MIT
/* Demo / Generator : vincentgarreau.com/particles.js
/* GitHub : github.com/VincentGarreau/particles.js
/* How to use? : Check the GitHub README
/* v2.0.0
/* ----------------------------------------------- */

/* I modified this, but the genesis lies with Vincent */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;  
  text-align: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.5em;

}

h3 {
	font-size: 0.55em;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
}

.textsection {
  position: absolute;
  z-index: 5;
  top: 10%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.textoverparticles {
  font: 100 4vw/1 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;  
  line-height: 40px;
}

.textsub {
  color: #ffffff;  
  margin-top: 5%;
  font: 100 3vw/1 'Open Sans', sans-serif;
}

.textsub > a {
  color: #ffffff;  
  line-height: 40px;
}

.textsub > a:hover {
  color: #4AC948;  
  text-decoration: none
}